<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059906495041-st3b9lfa7a98t7g9h7j426qmguevmgnm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059906495041-st3b9lfa7a98t7g9h7j426qmguevmgnm</string>
	<key>API_KEY</key>
	<string>AIzaSyCRJMR3NlEwFFFSYMzeM6CQvOSdYkBh9Fk</string>
	<key>GCM_SENDER_ID</key>
	<string>1059906495041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MusicIos.com</string>
	<key>PROJECT_ID</key>
	<string>musicappdb-c6547</string>
	<key>STORAGE_BUCKET</key>
	<string>musicappdb-c6547.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059906495041:ios:42edaea9e0e8b5804bdcc0</string>
	<key>DATABASE_URL</key>
	<string>https://musicappdb-c6547.firebaseio.com</string>
</dict>
</plist>